*{
    box-sizing: border-box;
    margin: 0;
}

.book-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card{
    border: 1px solid black;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showFormBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}